/********* TABLE OF CONTENTS *********/

/* Global */
/* Header */
/* Main */
/* Footer */

/* Media Queries */

/* START!!! */

@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,900&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #3d3b3b;
  background-color: rgb(20, 20, 20);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* Header */

.header-area {
  background-image: url(./images/space.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* padding: 5rem; */
}

.header-img-and-quote {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10rem 10rem 7rem 10rem;
}

.profile-img {
  height: 20rem;
  border-radius: 2%;
}

.header-img-and-quote > div {
  flex: 1;
  /* padding: 0 9rem 0 0; */
  margin: -3rem 0 0 0;
}

.quote-bubble {
  background-color: #fffbf7d5;
  border-radius: 0.25rem;
  margin: 0 2rem;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  position: relative;
}

.quote-bubble::after {
  content: '';
  position: absolute;
  border-width: 2em;
  border-style: solid;
  border-left-color: #fffbf7d5;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  transform: rotate(225deg);
  bottom: -32px;
  left: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

.project-thumbnail-list {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  list-style: none;
  background-color: #222121d5;
  padding: 3rem 0;
  margin-bottom: 0;
}

.project-thumbnail {
  height: 13rem;
}

/* Project Area */

article {
  border-radius: 0.5rem;
  margin: 3rem;
  background-color: #f7faff;
  position: relative;
}

.article-header-img {
  height: 8rem;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.react {
  background-image: url('./images/react.png');
}

.fizz-buzz {
  background-image: url('./images/code.png');
}

article > header {
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.article-data {
  padding: 2rem;
}

.article-meta-data {
  display: flex;
  align-content: flex-end;
}

.article-meta-data-element {
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  align-self: flex-end;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

.article-meta-data > p {
  margin-left: 1rem;
}

.date {
  font-size: 1.5rem;
  font-weight: 300;
}

.article-preview {
  font-size: 1rem;
}

.keep-reading-btn {
  padding: 1rem;
  background: #1d6bcb;
  color: #e5f0f9;
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer > h2,
footer > p {
  color: #f1ecec;
}

footer > h2 {
  font-size: 2rem;
}

#social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-flow: wrap; */
  list-style: none;
  padding: 0;
}

#social-icons > li {
  margin: 1rem;
}

.social-icon {
  font-size: 4rem;
}

.fa-twitter {
  color: white;
  background-color: #1d6bcb;
  padding: 1rem;
  border-radius: 50%;
}

footer > p {
  font-size: 1rem;
  margin: 7rem auto 2rem auto;
}

/* Media Queries */

/* (min-width: 1000px) and  */
@media (max-width: 1300px) {
  /* Header */

  .project-thumbnail {
    height: 10rem;
  }

  .profile-img {
    height: 13rem;
  }

  .quote-bubble {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 999px) {
  .profile-img {
    border: 5px solid red;
  }
}
