@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #3d3b3b;
  background-color: rgb(20, 20, 20);
}

/* Header */

.header-area {
  background-image: url(./images/space.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* padding: 5rem; */
}

.profile-img {
  height: 30rem;
  border-radius: 2%;
}

.header-img-and-quote {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 17rem;
}

.project-thumbnail-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #222121c0;
  padding: 3rem;
  margin-bottom: 0;
}

.project-thumbnail {
  height: 20rem;
}

.quote-bubble {
  background-color: #fffbf7d5;
  border-radius: 0.75rem;
  margin: 0 2rem;
  padding: 2rem 3rem;
  position: relative;
}

.quote-bubble::after {
  content: '';
  position: absolute;
  border-width: 3em;
  border-style: solid;
  border-left-color: #fffbf7d5;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  transform: rotate(225deg);
  bottom: -54px;
  left: 1rem;
}

.header-img-and-quote > div {
  flex: 1;
  padding: 0 9rem 0 0;
  margin: -3rem 0 0 0;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1rem 0;
}

/* Project Area */

article {
  border: 2px solid red;
  border-radius: 2rem;
  margin: 3rem;
  padding: 3rem;
  background-color: #f7faff;
}

.article-meta-data {
  display: flex;
  align-content: flex-end;
}

.article-meta-data > h4,
.article-meta-data > p {
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  border: 2px solid red;
  align-self: flex-end;
}

h4 {
  font-size: 2em;
}

.date {
  font-size: 1em;
}

a.keep-reading-btn {
  padding: 3rem;
  background: rgb(42, 42, 197);
  color: #f7faff;
  float: right;
}
